@media (max-width: 767px) {

  .nav-bar-list {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    max-width: 300px;
    height: 100vh;
    background: #222;
    padding: 60px 20px;
    transition: right 0.3s ease;
  }

  .nav-bar-list.active {
    right: 0;
  }

  .nav-bar-list li a {
    color: white;
  }

  .hamburger {
    display: block;
  }

  .hero {
    display: flex;
    flex-direction: column;
    padding: 40px;
    row-gap: 30px;
  }

  .project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .project-card {
    width: 300px;
    border-radius: 6px;
    padding: 10px;
    background-color: #191f36;
    color: white;
  }

  .project-button {
    margin: 5px;
    position: static;
  }

  .project-card p {
    font-size: 13px;
    text-align: justify;
  }

  .footer-column {
    flex: 1 1 45%;
  }
}

/* 600px */
@media (max-width: 600px) {
  .download-btn {
    font-size: 16px;
    padding: 12px 20px;
  }

  .resume-section {
    flex-direction: column;
    gap: 20px;
  }
}

/* 576px */
@media (max-width: 576px) {
  .footer-column {
    flex: 1 1 100%;
    text-align: center;
  }
}

/* 480px */
@media (max-width: 480px) {
  .icon-container {
    width: calc(50% - 1rem);
  }
}
